@import 'tailwindcss';

@theme {
  --color-blue-50: #eff6ff;
  --color-blue-100: #bfdbfe;
  --color-blue-300: #596e83;
  --color-blue-500: #111184;
  --color-blue-700: #1d4ed8;

  --color-green-100: #dcfce7;
  --color-green-500: #1ea382;
  --color-green-700: #047857;

  --color-rose-50: #eae0df;
}

@layer utilities {
  .animate-blob {
    animation: blob 7s infinite;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
