@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

@theme {
  --font-montserrat: var(--font-montserrat);
  --color-blue-50: #eff6ff;
  --color-blue-100: #bfdbfe;
  --color-blue-300: #596e83;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-900: #1e3a8a;
  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c7;
  --color-amber-200: #fde68a;
  --color-amber-300: #fcd34d;
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;
  --color-amber-600: #d97706;
  --color-amber-900: #78350f;

  /* Cores da marca */
  --color-brand-navy: #1d2e40;
  --color-brand-gold: #b09e82;

  --color-lp-primary: #1f2937;
  --color-lp-secondary: #d97706;
  --color-deep-navy: #0f172a;
  --color-lp-bg-light: #f8fafc;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
